<div class="header clearfix">
	<a class="logo" title="To Parnassus" href="/">
		To Parnassus
	</a>

	<% if(user){ %>
		<div class="profile">
			<a href="/profile/">profile</a>
			<span class="white-rose"></span>
			<a href="#logoutModal" role="button" data-toggle="modal">logout</a>
		</div>
	<% }else{ %>
		<div class="userbar">
			<a href="#loginModal" role="button" data-toggle="modal">sign in</a>
			<span class="white-rose"></span>
			<a href="#signupModal" role="button" data-toggle="modal">sign up</a>
		</div>
	<% } %>
	

	
</div>