<div class="header clearfix">
	<a class="logo" title="To Parnassus" href="/">
		To Parnassus
	</a>

	<div class="userbar">
		<a>sign in</a>
		<span class="white-rose"></span>
		<a>sign up</a>
	</div>
</div>