<div class="tools">
	<div class="notation-tools">
		<p>Notation Tools:</p>
		<div class="notes">

			<% if(tools.noteTypes.length){ %>
			    <% tools.noteTypes.forEach(function(noteType) { %>
				     <a class="btn notation-note-select" data-notetype="<%= noteType %>"><%=: noteType | capitalize %> Note</a>
				<% }) %> 
			<% } %>
			<a class="btn notation-note-select" data-notetype="eraser">Eraser</a>

			<div class="clear"></div>
			
			<% if(tools.ties){ %>
				<a class="btn notation-note-select" data-notetype="tie">Tie</a>
			<% } %>
			<a class="btn notation-note-select" data-notetype="sharp">Sharp</a>
			<a class="btn notation-note-select" data-notetype="flat">Flat</a>
			<a class="btn notation-note-select" data-notetype="natural">Natural</a>
		</div>
	</div>
	<br/><br/>
	<div class="playback-tools">
		<a class="btn transport" data-transport="play">Play</a>
		<a class="btn transport" data-transport="pause">Pause</a>
		<a class="btn transport" data-transport="stop">Stop</a>
		
		<a class="btn volume">Volume</a>
		<div id="volume-slider" style="height: 100px; float: right; margin-right: 15px;" data-volume="0"></div>

		<form id="select-measure"><label for="measure">Start at measure:</label><input type="text" id="measure" name="measure" value="0" /></form>
	
		<select class="instrument-select">
			<% if(tools.instruments.length){ %>
			    <% tools.instruments.forEach(function(instrument) { %>
			    	<option value="<%= instrument %>"><%=: instrument | capitalize %></option>
				<% }) %> 
			<% } %>
		</select>

		<div class="staff-select">
			<a class="btn staff btn-danger" title="Mute Staff 1 - Treble" data-staff="treble0">Mute Staff 1 - Treble</a>
			<a class="btn staff btn-danger" title="Mute Staff 2 - Treble" data-staff="treble1">Mute Staff 2 - Treble</a>
		</div>

	</div>
</div>