<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<%- include elements/head.ejs %>
</head>
<body>
	<div class="clearfix">

		<% if(exerciseFound){ %>
			<div class="center-column">

				<div class="exercise">
					<p>Hello World! Here goes the music notation prototype:</p>
					<a class="tool-link">Tools -></a>
					<div id="fux-notation"></div>
				</div>
				
			</div>

			<%- include elements/tools.ejs %>

		<% }else{ %>
			<div class="center-column">
				<h2>I couldn't find that exercise.</h2>
			</div>
		<% } %>
		
	</div>
	
</body> 

<!-- Libraries and 3rd Party JS-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script src="/libraries/validation/jquery.validate.min.js"></script>
<script src="/libraries/buzz/buzz.js"></script>

<script src="/js/utilities.js"></script>
<script src="/js/fux.js"></script>
<script src="/js/assetmanager.js"></script>
<script src="/js/soundmanager.js"></script>
<script src="/js/notation.js"></script>
<script src="/js/tools.js"></script>
<script type="text/javascript">
	$(function(){ FUX.init('<%- config %>'); });
</script>
</html>