<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<%- include elements/head.ejs %>
</head>
<body class="home">
	<%- include elements/header.ejs %>
	<div class="home-content clearfix">
		<h1>To Parnassus</h1>
		<p>The Gradus Ad Parnassum (Step or Ascent to Mount Parnassus) is a theoretical and pedagogical work written in Latin, which Fux dedicated to Emperor Charles VI in 1725.</p>
		<p>It is divided in two major parts. In the first part, Fux presents a summary of the theory on Musica Speculativa, or the analysis of intervals as proportions between numbers. This section is in a simple lecture style, and looks at music from a purely mathematical angle, in a theoretical tradition that goes back, through the works of Renaissance theoreticians, to the Ancient Greeks. The works of Mersenne, Cicero and Aristotle are among the references quoted by Fux in this section.</p>

		<div class="home-links">
			<a href="/exercises/">Practice</a>
			<span class="large-rose"></span>
			<a href="/review-topics/">Review</a>
		</div>

	</div>
	<%- include elements/footer.ejs %>
</body> 

<%- include elements/scripts.ejs %>