body { background: transparent url("/images/bgs/paper_fibers.png") repeat; }
a { cursor: pointer; }

.white-rose { display: inline-block; width: 30px; height: 30px; background: transparent url('/images/site/global-sprite.png') 0 0 no-repeat; }
.black-leaf { display: inline-block; width: 32px; height: 20px; background: transparent url('/images/site/global-sprite.png') 0 -80px no-repeat; }
.large-rose { display: inline-block; width: 95px; height: 40px; background: transparent url('/images/site/global-sprite.png') -9px -111px no-repeat; }
.large-rose-alt { display: inline-block; width: 36px; height: 40px; background: transparent url('/images/site/global-sprite.png') -38px -111px no-repeat; }
.fancy-bullet { display: inline-block; width: 12px; height: 13px; background: transparent url('/images/site/global-sprite.png') -7px -181px no-repeat;  }

.accordion-group { border: none; }
.accordion-heading .accordion-toggle { padding: 0; }

/* Header */
.header { background: #000; padding-bottom: 18px; color: #FFF; }
.header a.logo { display: block; width: 342px; height: 36px; background: transparent url('/images/site/global-sprite.png') 0 -36px no-repeat; text-indent: -9999px; float: left; margin: 22px 0 0 25px; }

.header .userbar,
.header .profile { font-family: 'Bitter', serif; float: right; margin: 16px 35px 0 0; }
.header .userbar a,
.header .profile a { color: #FFF; font-size: 1.2em; }
.header .userbar .white-rose,
.header .profile .white-rose { position: relative; top: 9px; }

/* Footer */
.footer { width: 222px; margin: 20px auto 20px; }
.footer a { color: #000; font-family: 'Bitter', serif; font-size: 1.1em; }
.footer .black-leaf { position: relative; top: 4px;}

/* Homepage */
.home a.logo { display: none; }

.home-content { width: 705px; margin: 0 auto; }
.home-content h1 { width: 700px; height: 366px; margin: 20px auto; background: transparent url('/images/site/home-title.png') no-repeat; text-indent: -9999px; }
.home-content p { padding: 0 10px; font-family: 'Open Sans', sans-serif; font-size: 1.4em;}

.home-content .home-links { width: 290px; margin: 0 auto 20px; }
.home-content .home-links a { color: #000; font-family: 'Bitter', serif; font-size: 1.68em; }
.home-content .home-links .large-rose { position: relative;; top: 12px; margin: 0 5px;}

/*Exercise*/
#exercise-title { margin: 0; }
#exercise-title input { background: transparent; border: none; font-family: 'Bitter',serif; font-size: 1.1em; font-weight: bold; color: #000; width: auto; height: auto; box-shadow: none; cursor: pointer; }

.center-column { overflow-x: scroll; width: 100%; height: 100%; position: absolute; }
.center-column p  { margin: 20px 0; font-family: 'Bitter', serif; font-size: 1.4em; }
.tool-link {  position: fixed; right: 0; top: 110px; cursor: pointer; z-index: 9999; background: #000; padding: 10px; border-top-left-radius: 8px; border-bottom-left-radius: 8px; color: #FFF;}
.tool-link:hover { text-decoration: none; color: #AAA; }

.center-column.twoCol { width: 70%; }

.center-column.twoCol .tool-link { right: 30%; }

.exercise { padding: 20px; }
.exercise-body .footer { position: fixed; bottom: 10px; left: 41%; display: none; }

.tools { text-align: center; background: transparent url("/images/bgs/squairy_light.png") repeat; width: 30%; position: fixed; right: 0; top: 0; height: 100%; border-left: 1px solid #EEE; display: none; overflow: scroll; }
.tools a { margin: 5px; display: inline-block; }

.audio-ready { display: none; }

.notation-tools,
.playback-tools { min-width: 320px; }
.notation-tools .notes { margin: 0 20px 20px; }
.tools .divide { border-bottom: 1px solid #CCC; margin: 15px 0; }
.playback-tools { margin-top: 15px; }

#volume-slider { display: none; }
.playback-tools a span.glyphicon { padding-right: 3px; position: relative; top: 1px; }

.tools .notation-tools p,
.tools .playback-tools p { text-align: center; font-family: 'Bitter', serif; font-size: 1.4em; margin-top: 20px; }
#select-measure { width: 225px; margin: 10px auto; }
#select-measure label { float: left; margin: 5px 10px 0 0;}
#select-measure input { float: left; width: 30px; text-align: right; }

.advanced:hover { text-decoration: none; }
.zoom .glyphicon-chevron-down,
.playback-tools a.advanced .glyphicon-chevron-down { position: relative; top: 2px; left: 2px; }

.fancy-break { width: 300px; height: 12px; background: transparent url('/images/site/global-sprite.png') 0 -164px no-repeat; margin: 10px auto; }

.modal h3 { font-family: 'Bitter',serif; font-size: 1.68em; }
.help-block { color: #CB2402;}

.control-group.error .control-label,
.control-group.success .control-label { color: #000; }

#fux-notation { z-index: 999; position: relative; background: transparent url("/images/bgs/paper_fibers.png") repeat; }

.canvas-wrapper { width: 2658px; height: 210px; position: relative; overflow: hidden; }
.canvas-wrapper canvas { position: absolute; top: 0; left: 0; }

/* Exercises List */
.exercise-list h1 { font-family: 'Bitter', serif; font-size: 3.0em; text-align: center; }
.exercise-list .content-plate { background: transparent url("/images/site/content-plate.png") no-repeat; width: 292px; height: 198px; margin: 0 auto; }
.exercise-list .sub { font-family: 'Bitter', serif; font-size: 2.2em; text-align: center; font-weight: bold; margin: 10px 0; }

.exercise-list ul { list-style: none; margin: 0; padding: 0; }
.exercise-list h2.voice { margin-bottom: 0; }
.exercise-list h2.voice .name { font-family: 'Bitter', serif; position: relative; top: -9px; left: 5px; font-size: 0.8em;}
.exercise-list ul.species { margin-left: 27px; }
.exercise-list ul.species li { margin-bottom: 5px; }
.exercise-list ul.species li .accordion-heading { padding-bottom: 5px; }
.exercise-list ul.species li .accordion-heading a { color: #333; font-size: 1.1em; }
.exercise-list ul.species li .user span { color: #333; }
.exercise-list ul.species li .alert { margin: 5px 0 0 0;}

/* Login Modal */
#login .messages { color: #B94A48; text-align: center; }

/*Cursor Styles*/
.whole-100 { cursor: url("/images/cursors/whole-100.png") 0 0, default; }
.whole-90 { cursor: url("/images/cursors/whole-85.png") 0 0, default; }
.whole-80 { cursor: url("/images/cursors/whole-75.png") 0 0, default; }
.whole-70 { cursor: url("/images/cursors/whole-60.png") 0 0, default; }
.whole-60 { cursor: url("/images/cursors/whole-50.png") 0 0, default; }
.whole-50 { cursor: url("/images/cursors/whole-50.png") 0 0, default; }

.halfUp-100 { cursor: url("/images/cursors/halfUp-100.png") 0 60, default; }
.halfUp-90 { cursor: url("/images/cursors/halfUp-85.png") 0 52, default; }
.halfUp-80 { cursor: url("/images/cursors/halfUp-75.png") 0 45, default; }
.halfUp-70 { cursor: url("/images/cursors/halfUp-60.png") 0 36, default; }
.halfUp-60 { cursor: url("/images/cursors/halfUp-50.png") 0 30, default; }
.halfUp-50 { cursor: url("/images/cursors/halfUp-50.png") 0 30, default; }
.halfDown-100 { cursor: url("/images/cursors/halfDown-100.png") 0 10, default; }
.halfDown-90 { cursor: url("/images/cursors/halfDown-85.png") 0 0, default; }
.halfDown-80 { cursor: url("/images/cursors/halfDown-75.png") 0 0, default; }
.halfDown-70 { cursor: url("/images/cursors/halfDown-60.png") 0 0, default; }
.halfDown-60 { cursor: url("/images/cursors/halfDown-50.png") 0 0, default; }
.halfDown-50 { cursor: url("/images/cursors/halfDown-50.png") 0 0, default; }

.quarterUp-100 { cursor: url("/images/cursors/quarterUp-100.png") 0 60, default; }
.quarterUp-90 { cursor: url("/images/cursors/quarterUp-85.png") 0 52, default; }
.quarterUp-80 { cursor: url("/images/cursors/quarterUp-75.png") 0 45, default; }
.quarterUp-70 { cursor: url("/images/cursors/quarterUp-60.png") 0 36, default; }
.quarterUp-60 { cursor: url("/images/cursors/quarterUp-50.png") 0 30, default; }
.quarterUp-50 { cursor: url("/images/cursors/quarterUp-50.png") 0 30, default; }
.quarterDown-100 { cursor: url("/images/cursors/quarterDown-100.png") 0 0, default; }
.quarterDown-90 { cursor: url("/images/cursors/quarterDown-85.png") 0 0, default; }
.quarterDown-80 { cursor: url("/images/cursors/quarterDown-75.png") 0 0, default; }
.quarterDown-70 { cursor: url("/images/cursors/quarterDown-60.png") 0 0, default; }
.quarterDown-60 { cursor: url("/images/cursors/quarterDown-50.png") 0 0, default; }
.quarterDown-50 { cursor: url("/images/cursors/quarterDown-50.png") 0 0, default; }

.eighthUp-100 { cursor: url("/images/cursors/eighthUp-100.png") 0 60, default; }
.eighthUp-90 { cursor: url("/images/cursors/eighthUp-85.png") 0 52, default; }
.eighthUp-80 { cursor: url("/images/cursors/eighthUp-75.png") 0 45, default; }
.eighthUp-70 { cursor: url("/images/cursors/eighthUp-60.png") 0 36, default; }
.eighthUp-60 { cursor: url("/images/cursors/eighthUp-50.png") 0 30, default; }
.eighthUp-50 { cursor: url("/images/cursors/eighthUp-50.png") 0 30, default; }
.eighthDown-100 { cursor: url("/images/cursors/eighthDown-100.png") 0 0, default; }
.eighthDown-90 { cursor: url("/images/cursors/eighthDown-85.png") 0 0, default; }
.eighthDown-80 { cursor: url("/images/cursors/eighthDown-75.png") 0 0, default; }
.eighthDown-70 { cursor: url("/images/cursors/eighthDown-60.png") 0 0, default; }
.eighthDown-60 { cursor: url("/images/cursors/eighthDown-50.png") 0 0, default; }
.eighthDown-50 { cursor: url("/images/cursors/eighthDown-50.png") 0 0, default; }

.eraser-100, .eraser-90, .eraser-80, .eraser-70, .eraser-60, .eraser-50 { cursor: url("/images/cursors/eraser-x.png") 0 0, default; }
.sharp-100, .sharp-90, .sharp-80, .sharp-70, .sharp-60, .sharp-50 { cursor: url("/images/cursors/sharp.png") 0 0, default; }
.flat-100, .flat-90, .flat-80, .sharp-70, .flat-60, .flat-50 { cursor: url("/images/cursors/flat.png") 0 0, default; }
.natural-100, .natural-90, .natural-80, .natural-70, .natural-60, .natural-50 { cursor: url("/images/cursors/natural.png") 0 0, default; }

.tieUp-100, .tieUp-90, .tieUp-80, .tieUp-70, .tieUp-60, .tieUp-50 { cursor: url("/images/cursors/tie-up.png") 0 0, default; }
.tieDown-100, .tieDown-90, .tieDown-80, .tieDown-70, .tieDown-60, .tieDown-50 { cursor: url("/images/cursors/tie-down.png") 0 0, default; }

