body { background: transparent url("/images/bgs/paper_fibers.png") repeat; }
a { cursor: pointer; }

.white-rose { display: inline-block; width: 30px; height: 30px; background: transparent url('/images/site/global-sprite.png') 0 0 no-repeat; }
.black-leaf { display: inline-block; width: 32px; height: 20px; background: transparent url('/images/site/global-sprite.png') 0 -80px no-repeat; }
.large-rose { display: inline-block; width: 95px; height: 40px; background: transparent url('/images/site/global-sprite.png') -9px -111px no-repeat; }

/* Header */
.header { background: #000; height: 80px; color: #FFF; }
.header a.logo { display: block; width: 342px; height: 36px; background: transparent url('/images/site/global-sprite.png') 0 -36px no-repeat; text-indent: -9999px; float: left; margin: 22px 0 0 25px; }

.header .userbar,
.header .profile { font-family: 'Bitter', serif; float: right; margin: 16px 35px 0 0; }
.header .userbar a,
.header .profile a { color: #FFF; font-size: 1.2em; }
.header .userbar .white-rose,
.header .profile .white-rose { position: relative; top: 9px; }

/* Footer */
.footer { width: 222px; margin: 20px auto 20px; }
.footer a { color: #000; font-family: 'Bitter', serif; font-size: 1.1em; }
.footer .black-leaf { position: relative; top: 4px;}

/* Homepage */
.home a.logo { display: none; }

.home-content { width: 705px; margin: 0 auto; }
.home-content h1 { width: 700px; height: 366px; margin: 20px auto; background: transparent url('/images/site/home-title.png') no-repeat; text-indent: -9999px; }
.home-content p { padding: 0 10px; font-family: 'Open Sans', sans-serif; font-size: 1.4em;}

.home-content .home-links { width: 286px; margin: 0 auto 20px; }
.home-content .home-links a { color: #000; font-family: 'Bitter', serif; font-size: 1.68em; }
.home-content .home-links .large-rose { position: relative;; top: 12px; margin: 0 5px;}

/*Exercise*/
#exercise-title { margin: 0; }
#exercise-title input { background: transparent; border: none; font-family: 'Bitter',serif; font-size: 1.1em; font-weight: bold; color: #000; width: 100%; height: auto; box-shadow: none; }

.center-column { overflow-x: scroll; width: 100%; height: 100%; position: absolute; }
.center-column p  { margin: 20px 0; font-family: 'Bitter', serif; font-size: 1.4em; }
.tool-link { position: fixed; right: 10px; cursor: pointer; }

.center-column.twoCol { width: 70%; }

.center-column.twoCol .tool-link { right: 31%; }

.exercise { padding: 20px; }
.exercise-body .footer { position: fixed; bottom: 10px; left: 41%; }

.tools { text-align: center; background: transparent url("/images/bgs/squairy_light.png") repeat; width: 30%; position: fixed; right: 0; top: 0; height: 100%; border-left: 1px solid #EEE; display: none; overflow: scroll; }
.tools a { margin: 5px; display: inline-block; }

.notation-tools,
.playback-tools { min-width: 306px; }
.notation-tools .notes { border-bottom: 1px solid #CCC; padding: 0 0 20px 0; margin: 0 20px 20px; }

.tools .notation-tools p { text-align: center; font-family: 'Bitter', serif; font-size: 1.4em; margin-top: 20px; }

.modal h3 { font-family: 'Bitter',serif; font-size: 1.68em; }
.help-block { color: #CB2402;}

.control-group.error .control-label,
.control-group.success .control-label { color: #000; }

/* Login Modal */
#login .messages { color: #B94A48; text-align: center; }
